# OAuth-токен Яндекс.Диска.
# Получить: https://oauth.yandex.ru/authorize?response_type=token&client_id=<ClientID>
YANDEX_TOKEN=
# Введите путь к папке на Яндекс.Диске (например, /Music)
YANDEX_MUSIC_PATH=/Music
# Секретный ключ, которым будет подписан jwt-токен с информацией о пользователе
AUTH_SECRET=

# Порт, на котором работает прокси
PORT=3000

# Origin фронтенда для CORS
FRONTEND_ORIGIN=http://localhost:5173